@import "../../css/variables";


/* ----- LOGIN & REGISTER ------ LOGIN & REGISTER ------ */

.loginForm {
  max-width: 450px;
  padding: 40px 38px 60px;
  margin: 0 auto;
  border: 1px solid #cccccc;
  .registerCaption{
    font-weight: bold;
    text-align: center;
    padding-bottom: 15px;
    font-style: italic;
    text-transform: uppercase;
  }
  .userLoginImg {
    max-width: 120px;
    margin: 2% auto;
    opacity: 0.5;
  }
  .circleBall {
    position: relative;
    margin-top: -50px;
    color: $moreOrange;
  }
  .input-group {
    width: 100%;
    margin-bottom: 15px;
    border-radius: 0;
    color: $moreOrange;
    &:hover span i {
      color: $moreOrange;
    }
    .form-control {
      height: 45px;
      color: $likeBlack;
    }
    .spanStar {
      color: $moreOrange;
      font-weight: bold;
    }
  }
  .btnLogin {
    border-radius: 0;
    margin-top: 25px;
    margin-bottom: 15px;
    background-color: $orange;
    color: $likeWhite;
    &:hover {
      background-color: $moreOrange;
    }
  }

  .wrongLogin, .wrongRegister {
    color: darkred;
    font-weight: bold;
  }

  .goToReg-LogPage {
    a {
      cursor: pointer;
      font-weight: bold;
      color: $moreOrange;
      text-decoration: underline;
      &:hover {
        color: $orange;
        text-decoration: none;
      }
    }
  }

  // Register form and // Same name
  .showAfterRegister {
    a {
      color: $moreOrange;
      font-weight: bold;
      text-decoration: underline;
      text-align: center;
      &:hover {
        color: $orange;
        text-decoration: none;
      }
    }
  }

  .sameName {
    color: darkred;
    font-weight: bold;
  }

  // Reset bootstrap style
  input:hover,
  input:hover:before,
  input:hover:after,
  input:active,
  input:active:before,
  input:active:after,
  input:focus,
  input:focus:before,
  input:focus:after,
  button:focus,
  button:active,
  button:hover,
  .btn:active,
  .btn.active {
    box-shadow: none !important;
    outline: none !important;
    border: none !important;
  }

}




/* --- MODAL --- */

.modalAfterLogin {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:rgba(0, 0, 0, 0.5);
  z-index: 999;
  .childModal {
    margin: 10% auto;
    width: 65%;
    background-color: $orange;
    box-shadow: 0 5px 5px rgba(230, 126, 18, 0.3);
    border-radius: 6px 3px;
    padding: 3%;
    text-align: center;
    .closeModal {
      background-color: $likeBlack;
      color: $likeWhite;
      border-radius: 25px;
      padding: 1% 6%;
      cursor: pointer;
      text-decoration: none;
      transition: 0.2s all;
      &:hover {
        background-color: $likeWhite;
        color: $likeBlack;
      }
    }
  }
}