@import "../../css/variables";


.inboxStatistics {
  .statisticImg {
    width: 100px;
  }
  margin-top: 4%;
  .headTitle {
    text-align: center;
  }
  .statInformation {
    .titleOfStatistics {
      color: $likeBlack;
      font-weight: bold;
      display: inline;
      padding: 0 10px;
    }
    .spanStats {
      font-weight: bold;
      color: $orange;
      transition: all 0.1s;
    }
    .listMyStat {
      background-color: gray;
      color: $likeWhite;
      padding: 4px 10px;
      margin: 5px 0;
      border-radius: 3px;
      min-height: 50px;
      transition: all 0.2s;
      &:hover {
        background-color: $orange;
        font-weight: bold;
        .spanStats {
          color: darkslategray;
        }
      }
    }
    .listMyStat2 {
      cursor: pointer;
      background-color: lightgray;
      padding: 4px 10px;
      margin: 5px 0;
      border-radius: 3px;
      min-height: 40px;
      transition: all 0.2s;
      .caretArrowUp {
        transition: transform 0.4s;
        display: inline-block;
        transform: rotate(180deg);
      }
      .caretArrowDown {
        transition: transform 0.4s;
        display: inline-block;
      }
      &:hover {
        background-color: $orange;
        i {
          color: $likeBlack;
        }
      }
      a {
        cursor: pointer;
        i {
          font-size: 35px;
          color: $moreOrange;
        }
      }
    }
  }
}

