// style in preparation

$main: #ecf0f1;
$orange: #f39c12;
$moreOrange: #e67e22;
$likeWhite: #ecf0f1;
$likeBlack: #2c3e50;

/* -- Whole page -- */
body {
  background-color: $main;
  font-family: 'Source Sans Pro', sans-serif;
}

p, h1, h2, h3, h4, h5, h6, a, label {
  color: $likeBlack;
}

.button-style {
  background-color: $orange;
  color: $likeWhite;
  &:hover {
    background-color: $moreOrange;
    color: $likeWhite;
  }
}

input[type = "text"] {
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}


.inputEditing {
  background-color: transparent;
}




// Navigation

.nav {
  background-color: $likeBlack;
  ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
    li {
      font-family: 'Oswald', sans-serif;
      font-size: 1.2em;
      line-height: 40px;
      height: 40px;
      border-bottom: 1px solid #888;
      a {
        text-decoration: none;
        color: $likeWhite;
        display: block;
        transition: .2s background-color;
        &:hover {
          background-color: $moreOrange;
        }
      }
    }
  }
}
// media for navigation
@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    display: inline-block;
    margin-right: -4px;
  }
}

/* -- Caption --*/
.head {
  padding: 2% 0;
  .headFirst{
    color: $likeBlack;
    font-family: 'Trocchi', serif;
    font-size: 45px;
    font-weight: normal;
    line-height: 48px;
    margin: 0;
    text-align: center;
  }
  .headSecond {
    color: $orange;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 32px;
    margin: 0 0 24px;
    text-align: center;
  }
}


/* -- Search form -- */
.search {
  float: right;
  margin-bottom: -1px;
  label {
    margin: 0 4px;
  }
  input {
    height: 35px;
    border-radius: 10px;
    outline: none;
    &:focus {
      border-radius: 10px;
    }
  }
}


// Table style

table {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  margin-top: 15px;
  padding:5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  .removeButton {
    color: darkred;
    font-weight: bold;
    position: absolute;
    right: 2px;
    top: 0;
    &:hover {
      color: red;
      cursor: pointer;
      text-decoration: none;
    }
  }

  .editButton {
    color: $moreOrange;
    font-weight: bold;
    font-style: italic;
    font-size: 14px;
    position: absolute;
    right: 2px;
    bottom: 0;
    &:hover {
      color: $orange;
      cursor: pointer;
      text-decoration: none;
    }
  }

  .saveButton {
    color: darkslategrey;
    padding: 5px;
    font-style: italic;
    font-weight: bold;
    font-size: 13px;
    position: absolute;
    right: 2px;
    bottom: 0;
    &:hover {
      color: forestgreen;
      cursor: pointer;
      text-decoration: none;
    }
  }
  th {
    width: 50%;
    text-align: left;
    color: $likeBlack;;
    background: $orange;
    font-size:23px;
    font-weight: 100;
    padding:24px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    &:first-child{
      border-top-left-radius: 4px;
    }
    &:last-child{
      border-top-right-radius: 4px;
      border-right: none;
    }
    /* -- Sort icon -- */
    .sortIcon {
      font-size: 15px;
      font-weight: bold;
      cursor: pointer;
      padding: 2px;
    }
  }
  tr {
    border-top: 1px solid #C1C3D1;
    border-bottom: 1px solid #C1C3D1;
    color:#666B85;
    font-weight: normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
    &:first-child {
      border-top:none;
    }
    &:last-child {
      border-bottom:none;
    }
    &:nth-child(odd) td {
      background: $main;
    }
    &:last-child td:first-child {
      border-bottom-left-radius:3px;
    }
    &:last-child td:last-child {
      border-bottom-right-radius:3px;
    }

    td {
      background:#FFFFFF;
      padding:20px;
      height: 43px;
      text-align:left;
      vertical-align:middle;
      font-weight:300;
      text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
      border-right: 1px solid #C1C3D1;
      position: relative;
    }
  }
}




/* -- Paginations --*/
.paginationButtons {
  width: 100%;
  text-align: right;
  .next-prev{
    color: $orange;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
    &:hover {
      text-decoration: none;
      color: $moreOrange;
    }
  }
  //
  .currentPage {
    margin: 0 1%;
    padding: 2px 5px;
    background-color: $moreOrange;
    color: $likeWhite;
    border: 1px solid $moreOrange;
    cursor: pointer;
    &:hover {
      background-color: $likeWhite;
      color: $moreOrange;
    }
  }
  .lastFirstPage {
    @extend .currentPage;
    background-color: $likeWhite;
    color: $moreOrange;
    border: none;
    &:hover {
      background-color: $moreOrange;
      color: $likeWhite;
    }
  }
}






/* ------ ABOUT PAGE ------ ABOUT PAGE ------ */

.aboutUsers{
  text-align: center;
  padding: 10px;
  hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  }
  .headSpan {
    font-weight: bold;
  }
  .usersImage {
    width: 200px;
    border: 1px solid $likeBlack;
    border-radius: 10px;
    margin: 0 auto;
    transition: border-radius 0.3s;
    &:hover {
      border-radius: 50%;
    }
  }
  .companyName {
    color: $moreOrange;
  }

}



/* ----- LOGIN ------ LOGIN ------ */

.loginInput {
  height: 35px;
  border-radius: 10px;
  outline: none;
  &:focus {
    border-radius: 10px;
  }
}







