@import "../../css/variables";

/* ------ ABOUT PAGE ------ ABOUT PAGE ------ */

.aboutUsers{
  text-align: center;
  margin: 6% auto;
  //padding: 0 25px;
  .contact {
    border: 1px solid lightgray;
    border-radius: 10px;
    .contactsNotHover {
      position: relative;
      padding: 2px 0;
      .usersImage {
        border-radius: 10px;
      }
      .companyName {
        color: $moreOrange;
      }
      .contactsOnHover {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 10px;
        background-color: rgba(44,62,80,0.9);
        transition: opacity 0.3s;
        opacity: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: auto;
        &:hover {
          opacity: 1;
        }
        .content {
          overflow: auto;
          p {
            color: $orange;
            .headSpan {
              font-weight: bold;
              color: $moreOrange;
            }
          }
        }
        .removeFromContacts {
          font-weight: bold;
          cursor: pointer;
          display: block;
          color: red;
        }
        .sendMsgBtn {
          cursor: pointer;
          font-weight: bold;
          color: $orange;
        }
      }
    }
    hr {
      border: 0;
      height: 1px;
      background-image: -webkit-linear-gradient(left, #8c8b8b, $likeWhite, #8c8b8b);
      background-image: -moz-linear-gradient(left, #8c8b8b, $likeWhite, #8c8b8b);
      background-image: -ms-linear-gradient(left, #8c8b8b, $likeWhite, #8c8b8b);
      background-image: -o-linear-gradient(left, #8c8b8b, $likeWhite, #8c8b8b);
    }
  }
}
