@import "../../css/variables";

/* ------ ABOUT PAGE ------ ABOUT PAGE ------ */

.aboutUsers{
  text-align: center;
  margin: 5% auto;
  &:nth-child(4n -3) {
    //margin: 185px 0 0 0;
  }
  &:nth-child(even) .contact {
    margin: 60px 0 0 0;
  }
  &:nth-child(odd) .contact {
    margin: -25px 0 0 0;
  }
  .contact {
    .contactsNotHover {
      position: relative;
      padding: 2px 0;
      .usersImage {
        border-radius: 50%;
      }
      .contactsOnHover {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 50%;
        background-color: rgba(44,62,80,0.9);
        transition: opacity 0.3s;
        opacity: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: auto;
        &:hover {
          opacity: 1;
        }
        .content {
          overflow: auto;
          p {
            color: $orange;
            .headSpan {
              font-weight: bold;
              color: $moreOrange;
            }
          }
        }
        .removeFromContacts {
          font-weight: bold;
          cursor: pointer;
          display: block;
          color: red;
        }
        .sendMsgBtn {
          cursor: pointer;
          font-weight: bold;
          color: $orange;
        }
      }
    }
    .companyName {
      color: $moreOrange;
    }
    hr {
      border: 0;
      height: 1px;
      background-image: -webkit-linear-gradient(left, #8c8b8b, $likeWhite, #8c8b8b);
      background-image: -moz-linear-gradient(left, #8c8b8b, $likeWhite, #8c8b8b);
      background-image: -ms-linear-gradient(left, #8c8b8b, $likeWhite, #8c8b8b);
      background-image: -o-linear-gradient(left, #8c8b8b, $likeWhite, #8c8b8b);
    }
  }
}
